node_modules/
.env
.env.*
.DS_Store
dist/
build/
coverage/
*.pem
merchant_private_key.pem
merchant_public_key.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
.vercel
hashkey_docs.txt
temp_doc.txt
merchant-docs-all-in-one.pdf
merchant-docs.txt
artifacts/
cache/
typechain-types/
HACKATHON_DETAILS.md
